0
ChangeLog
Makefile
Makefile.in
*.[oa]
*~
aclocal.m4
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
depcomp
install-sh
intltool-*.in
ltmain.sh
missing
mkinstalldirs
stamp-h1
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
compile
libtool
*.desktop
.deps
.idea
builddir/

viewnior-*.tar.gz
*.sublime-project
*.sublime-workspace
.vscode
