ChangeLog
Makefile
Makefile.in
*.[oa]
*~
aclocal.m4
autom4te.cache/
depcomp
install-sh
intltool-*.in
missing
mkinstalldirs
stamp-h1
config.h
config.h.in
config.log
config.status
configure
compile
*.desktop
*.desktop.in
.deps

viewnior-*.tar.gz
