*{
margin:0px;
padding:0px;
}

a{
font-family:inherit;
text-decoration:none;
}

body{
cursor:default;
text-align:center;
color:white;
#background-color:#585858;
background-color:#000000;
background-image:url('pagebg.png');
background-position:top center;
background-repeat:no-repeat;
background-attachment:scroll;
font-size:14px;
font-weight:normal;
font-family:'lucida grande','myriad pro',sans-serif,verdana,'helvetica neue',helvetica,arial;
}

h2{
font-size:inherit;
font-weight:inherit;
font-style:normal;
}
h4{
font-size:inherit;
font-weight:bold;
font-style:normal;
}

h3{
font-size:16px;
font-weight:bold;
font-style:normal;
padding:0px;
margin:0px;
}

hr{
visibility:hidden;
}

img{
border:none;
margin-top:5px;
}

ul{
padding-left:20px;
}

#page{
background-color:black;
border-left:5px solid white;
border-right:5px solid white;
border-bottom:5px solid white;
margin:0 auto;
width:950px;
margin-bottom:50px;
}

#header{
height:150px;
background-image:url('viewnior.png');
background-position:top center;
background-repeat:no-repeat;
background-attachment:scroll;
}
#logo{
display:none;
}

#navigation{
margin-left:0px;
color:white;
font-size:16px;
font-weight:bold;
padding:5px;
}
#navigation a{
color:white;
}
#navigation li{
display:inline;
padding:5px;
}
#navigation li a{
padding:5px;
}
#navigation li a:hover{
background-color:#e13f3f;
}
#navigation .active{
background-color:#e13f3f;
}


#footer{
text-align:left;
padding-left:150px;
padding-top:20px;
padding-bottom:20px;
background-image:url('bite.png');
background-position:bottom left;
background-repeat:no-repeat;
background-attachment:scroll;
}

#content{
border-top:2px solid #e13f3f;
border-bottom:2px solid #e13f3f;
text-align:left;
color:black;
background-color:#EDEDED;
padding-top:20px;
padding-bottom:20px;
padding-left:30px;
}
#content p{
margin-top:10px;
margin-bottom:10px;
}
#content a{
color:black;
border-bottom:1px solid black;
}
#content a:hover{
color:#e13f3f;
border-bottom:none;
}

#sidebar{
float:right;
width:200px;
color:white;
font-weight:bold;
padding-top:40px;
}
#sidebar a{
color:white;
border-bottom:none;
border-bottom:1px solid white;
}
#sidebar a:hover{
color:white;
border-bottom:none;
}
.sidebar_post_content{
margin-left:20px;
}
.sidebar_post{
padding-top:10px;
padding-bottom:10px;
padding-left:10px;
}

#faqs a{
border:none;
}

.bitten{
background-color:#e13f3f;
background-image:url('bite_red.png');
background-position:top left;
background-repeat:no-repeat;
background-attachment:scroll;
}

.post{
padding-left:10px;
padding-right:10px;
margin-bottom:15px;
}

.download{
padding-left:10px;
padding-right:10px;
margin-bottom:15px;
}

.download_content{
margin-left:30px;
}

.install_desc{
cursor:auto;
background-color:#F5F5F5;
border:1px solid black;
padding:10px;
font-family:monospace,courier,'lucida grande','myriad pro',sans-serif,verdana,'helvetica neue',helvetica,arial;
}

.post h3{
padding-left:25px;
background-image:url('vnrbullet16x16.png');
background-position:top left;
background-repeat:no-repeat;
background-attachment:scroll;
}

.date{
color:#4F4F4F;
font-size:13px;
font-weight:normal;
}

.screenshot{
width:180px;
}
.screenshot2{
height:210px;
}

.clear{
clear:both;
}
