* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}

ul, ol { padding-left: 31px; list-style: circle; }

body {
	background: #EDEDED;
	font-family: "Trebuchet MS", arial;
}
html, body {
	height: 100%;
}


.cl { clear: both; height: 0px; line-height: 0px;}

a, a:visited, a:hover { text-decoration: none; color: black;}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}

#page .push {
	height: 50px;
}

/* HEADER */
#header {
	height: 125px;
	background: transparent url('vnr.png') no-repeat 20px 35px;
	padding:35px 0 0 155px;
	width: 625px;
	margin: auto;
}

#header-cnt {
	border-left: 2px solid black;
	padding-left: 40px;
}

#navigation { margin: 10px 0; padding: 0;}

#navigation li {
	display: inline;
	padding-right: 10px;
}

#navigation li a {
	color: #333;
	text-transform: uppercase;
	text-shadow: 0 2px 4px #ccc;
}

#navigation li a:hover, #navigation li a.active {
	border-bottom: 1px solid #E13F3F;
}
#logo {
	padding-top: 5px;
	line-height: 39px;
	text-shadow: 0 2px 4px #ccc;
}
#logo em {
	text-transform: uppercase;
	font-style: normal;
}

/* CONTENT */

#content {
	width: 780px;
	margin: auto;
	padding-top: 20px;
}

#content a {
	color: #E13F3F;
}
#content a:hover {
	color: #5bc642;
}

#content strong {	
	text-shadow: 0 2px 4px #ccc;
}

#content .post {
	margin-bottom: 20px;
}

#content .post h3 {
	line-height: 40px;
	color: #444;
	text-transform: uppercase;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	text-shadow: 0 2px 4px #ccc;
}

#content .post .date {
	display: block;
	float: right;
	line-height: 40px;
	padding-right: 20px;
	color: #bbb;
	font-size: 16px;
	text-shadow: 0 2px 4px #ccc;
}

#content .post p, #content .post ul {
	padding-bottom: 8px;
}
#content .post p {
	text-indent: 10px;
}

.install_desc {
	background-color: #222;
	color: white;
	font-family: monospace,Monospace,courier;
	padding: 5px;
	font-size: 14px;
	width: 755px;
}

/* FOOTER */

#footer {
	height: 50px;
}
#footer p {
	width: 780px;
	margin: auto;
	line-height: 50px;
}

/* SPECIAL */
.blackout {
	background: #222;
	color: white;
}
.blackout h2 {
	width: 760px;
	margin: 0 auto 0;
	padding: 5px 20px 5px 0;
	font-size: 24px;
	line-height	29px;
	font-weight: bold;
	text-shadow: 0 0 4px #000;
}

.blackout h2 a {
	display: block;
	color: #E13F3F;
	font-size: 18px;
}

.blackout h2 a:hover {
	color: #5bc642;
}

.grayout {
	background: #999;
	color: white;
}

#quick {
	width: 780px;
	margin: auto;
	padding: 0;
}
#quick li {
	display: inline;
	padding-right: 20px;
}

#screenshots {
	text-align: center;
	padding: 5px 0;
}
#screenshots a {
	padding: 0 7px;
}
#screenshots img {
	border: 1px solid white;
	vertical-align: bottom;
}

#download-page #content, #faq-page #content, #feedback-page #content {
	padding: 0;
}
#faq-page h4 {
	color: #E13F3F;
}
#faq-page #content p {
	text-indent: 0;
}
#faqs li {
	margin-bottom: 10px;
}
.download {
	margin-bottom: 20px;
}
.download p {
	margin-bottom: 10px;
}
.download_content {
	margin-left: 10px;
	padding: 10px 0;
}
.download_content .date {
	color: #BBBBBB;
	padding-left: 10px;
}
